*{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color: #b92b27;
}

#login , #signup {
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: blanchedalmond;
    color: brown;
}
.post a{
    color: blueviolet;
    text-decoration: none;
    background-color: yellow;
}

nav ul li a{
    background-color: lightblue;
    color: darkgreen;
}

p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
    color: darkslateblue;
}
div > input{
    background-color: lightgoldenrodyellow;
}

button:hover{
    background-color: black;
    color: wheat;
}

a:active{
    background-color: blueviolet;
    color: brown;
}